rss_feed_narrative.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        80
      ],
      "id": "4ed78885-2952-4eb3-a635-5d55f694b381",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        176
      ],
      "id": "2904e03e-2e10-4871-94c7-51989c1c4d36",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"RSS Read\"].json.title }} - {{ $node[\"RSS Read\"].json.contentSnippet }}",
        "options": {
          "systemMessage": "=You are the Editor-in-Chief for the Agent Genius Tech Blog. Write a single, cohesive narrative report summarizing the 3 AI news stories provided.\n\nSTRICT RULES:\n- Plain text only. No Markdown, no symbols, no bold, no headers, no bullet points\n- No outside info — only use what is in the input text\n- Write in flowing paragraphs, separated by a blank line\n- Be punchy, clear, and under 1,700 characters total\n- Output ONLY the report text. Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        0
      ],
      "id": "615f9f86-2950-4b04-812d-9df8b9d060e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        256
      ],
      "id": "d2ad1070-964f-493d-be99-c63d1a926013",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a5kXG0IQ6AvsLfjg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "3317102b-c84e-800f-8b2e-d5fad3773242",
          "mode": "list",
          "cachedResultName": "3317102b-c84e-800f-8b2e-d5fad3773242",
          "cachedResultUrl": "https://www.notion.so/3317102bc84e800f8b2ed5fad3773242"
        },
        "title": "=Test",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $fromAI(\"Name\") }}"
            },
            {
              "key": "Summary|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "textType": "={{ $fromAI(\"Summary\") }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Category|multi_select",
              "multiSelectValue": "={{ $fromAI(\"Category\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        1472,
        256
      ],
      "id": "79eca698-857f-4be4-93b0-1680594f6801",
      "name": "Create a database page in Notion",
      "credentials": {
        "notionApi": {
          "id": "9EHT9WO3tydbppF4",
          "name": "Notion account"
        }
      },
      "notes": "Use this tool to create a new page in the Agent Genius RSS Feed database. It requires three fields: Name (the article title), Summary (a 2-sentence AI summary), and Category (one of: Legal, Insurance, Real Estate, or General Automation)."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "AgentGenius_123"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1312,
        224
      ],
      "id": "0886c0c0-9bb8-4007-a725-aec3f606c336",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Create a page\"].json.id }}"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1712,
        0
      ],
      "id": "016ed312-f1f2-4a66-a9eb-1e3312fac461",
      "name": "Append a block",
      "credentials": {
        "notionApi": {
          "id": "9EHT9WO3tydbppF4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "3317102bc84e80ec9bd7f0130c517d80",
          "mode": "id"
        },
        "title": "={{ $now.format('MMMM dd, yyyy') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "6b38f917-3b15-4551-b411-64f166124ac8",
      "name": "Create a page",
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "9EHT9WO3tydbppF4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        608,
        48
      ],
      "id": "b25bf3dd-dba1-4b43-b25e-817f6860b152",
      "name": "Limit"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "contentSnippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        32
      ],
      "id": "d7e53480-1380-4302-a2f8-60c766b3b136",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        16
      ],
      "id": "13fb3691-f925-4393-b119-4be4cc40f5a9",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        80
      ],
      "id": "5254b744-3e68-493e-af30-4429e4ff909f",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        352,
        64
      ],
      "id": "21f9231d-b562-499f-bd12-4b4ac9c0f2a1",
      "name": "Sort"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page in Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append a block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "39a017f5-21a7-4f69-8d0a-77e975cb5157",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8709cd032bfa8e76de258525251f1f7c6901bcf2f3f8a40507176c807e74292a"
  },
  "id": "EJsDy25UzjFq3NTg",
  "tags": []
}